---
import Links from "../../../util/links";
import Menu from "@lucide/astro/icons/menu";
import SellingDebrecenLogo from "../../../images/selling-debrecen-logo.svg";
import MobileMenuOverlay from "./MobileMenuOverlay.astro";

const mobileMenuButtonId = "mobile-menu-button";
---

<header
  id="site-header"
  class="sticky top-0 w-full z-[100] bg-navy/80 backdrop-blur-sm border-b border-camel/70"
>
  <nav class="container mx-auto px-6 lg:px-12 py-4">
    <div class="hidden md:flex items-center justify-between">
      <a href={Links.HOME} class="text-white text-xl flex items-center gap-4">
        <SellingDebrecenLogo class="h-10 md:h-10 text-white inline-block" />
        <span class="text-white text-lg">Selling Debrecen</span>
      </a>

      <div class="flex items-center gap-8 text-sm">
        <a
          href={Links.PROPERTIES}
          class="text-white hover:text-gray-300 transition-colors text-md"
        >
          Ingatlanjaink
        </a>
        <a
          href={Links.FOR_SELLERS}
          class="text-white hover:text-gray-300 transition-colors text-md"
        >
          Kínálóknak
        </a>
        <a
          href={Links.FOR_BUYERS}
          class="text-white hover:text-gray-300 transition-colors text-md"
        >
          Keresőknek
        </a>
        <a
          href={Links.ABOUT}
          class="text-white hover:text-gray-300 transition-colors text-md"
        >
          Rólunk
        </a>
        <a
          href="#contact"
          class="bg-white text-black px-4 py-2 rounded hover:bg-gray-100 transition-colors"
        >
          Időpontfoglalás
        </a>
      </div>
    </div>

    <!-- Mobile Navigation -->
    <div class="md:hidden flex items-center justify-between">
      <!-- Logo -->
      <a
        id="mobile-menu-logo"
        href={Links.HOME}
        class="flex items-center gap-4 text-white text-xl font-semibold transition-all duration-300"
      >
        <SellingDebrecenLogo class="h-10 md:h-10 text-white inline-block" />
        Selling Debrecen
      </a>

      <div class="flex items-center gap-4">
        <!-- Schedule Button -->
        <a
          href="#contact"
          class="font-system-ui bg-white text-charcoal px-4 py-2 rounded text-sm hover:bg-gray-100 tracking-wider transition-colors"
        >
          Időpontfoglalás
        </a>

        <!-- Drawer Toggle Button -->
        <button
          id={mobileMenuButtonId}
          class="text-white p-2 relative flex items-center justify-center"
          aria-label="Toggle menu"
        >
          <Menu
            class="w-6 h-6 absolute transition-all duration-300 ease-in-out opacity-100 rotate-0 scale-100"
          />
        </button>
      </div>
    </div>
  </nav>
</header>

<!-- Mobile Drawer Menu -->
<MobileMenuOverlay mobileMenuButtonId={mobileMenuButtonId} />
