---
import forSellersImage from "../../../../images/for-sellers.jpg";
import forBuyersImage from "../../../../images/for-buyers-02.jpg";
import Side from "./Side.astro";
import { HeadingLeftAligned } from "../../../common";
import { useI18n } from "../../../../i18n";
import data from "../../../../content/fixed-pages/home.json";

const { p, lang } = useI18n(Astro);
const localizedData = data[lang as keyof typeof data];
---

<section class="pt-20 bg-navy overflow-hidden">
  <div class="container mx-auto px-6 lg:px-12">
    <HeadingLeftAligned
      title={localizedData.featuredServicesTitle}
      titleColor="text-cream"
      descriptionColor="text-cream-soft"
      subtitle={localizedData.featuredServicesSubtitle}
      description={localizedData.featuredServicesDescription}
    />
  </div>

  <Side
    image={forSellersImage}
    title={localizedData.forSellersServicesTitle}
    description={localizedData.forSellersServicesDescription}
    link={p("for-sellers")}
    linkText={localizedData.forSellersServicesLinkText}
    services={localizedData.forSellersServices}
  />

  <Side
    image={forBuyersImage}
    title={localizedData.forBuyersServicesTitle}
    description={localizedData.forBuyersServicesDescription}
    link={p("for-buyers")}
    linkText={localizedData.forBuyersServicesLinkText}
    services={localizedData.forBuyersServices}
  />
</section>
